
@model Vidly.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
@if(Model.BirthDate.HasValue)
{
    <p>BirthDate: @Model.BirthDate.Value.ToShortDateString()</p>
}

